@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

header {
    background-color: rgb(20,30,40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 40px;
    position: fixed;
    top: 0;
}

.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes logo {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.header_left img {
    animation: logo 5s infinite;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.header_left h1 {
    color: #FFF;
}

.header_right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_right li {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
    list-style-type: none;
}

.header_right a {
    text-decoration: none;
    color: #FFF;
}

.header_right a:hover {
    color: springgreen;
    border-bottom: 5px solid springgreen;
    padding-bottom: 35px;
}

.header_right button {
    background-color: slateblue;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 30px;
    transition: all 0.5s;
}

.header_right button:hover {
    background-color: springgreen;
}

.menu_mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu_mobile div {
    background-color: springgreen;
    border-radius: 10px;
    height: 5px;
    width: 45px;
    margin: 4px 0;
}

main {
    padding-top: 80px;
    margin-top: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 700px;
}

.main1 {
    background-image: url("../imgs/main1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
}

.main2 {
    background-image: url("../imgs/main2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
}

.section_initial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    padding: 0 30px;
}

.section_initial .section_text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(20,30,40, 0.6);
    border-radius: 30px;
    width: 650px;
    height: 250px;
    box-shadow: 7px 7px 8px black;
}

.section_initial .section_text h1, p {
    text-align: center;
    color: rgb(245, 245, 245);
}

.section_initial .section_text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.section_initial p {
    font-size: 23px;
}

.section_first .section_text h1 {
    color: #2C2C2C;
    font-weight: bold;
}

.section_second {
    background-image: url("../imgs/section_second.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    transition: all 1s;
}

.section_third {
    background-image: url("../imgs/section_third.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    transition: all 1s;
}

.section_forth {
    background-image: url("../imgs/section_third.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    transition: all 1s;
}

.section_fifth {
    background-image: url("../imgs/section_second.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    transition: all 1s;
}

footer {
    height: 300px;
    width: 100%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 3px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}

footer span {
    color: springgreen;
}

@media only screen and (max-width: 1090px) {

    .menu_mobile {
        display: flex;
    }

    .header_right {
        background-color: rgba(10, 20, 30, 0.9);
        position: absolute;
        top: 100px;
        left: -100%;
        height: calc(100vh - 100px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
    }

    .header_right.active {
        left: 0;
    }

    .header_right ul {
        flex-direction: column;
    }

    .header_right li {
        margin: 15px 0;
        font-size: 23px;
    }

    .header_right a:hover {
        color: #FFF;
        border-bottom: none;
        padding-bottom: none;
    }

}

@media only screen and (max-width: 600px) {

    header {
        padding: 0 20px;
    }

    .header_left img {
        width: 40px;
        height: 40px;
    }

    .header_left h1 {
        font-size: 20px;
    }

    .header_right li {
        font-size: 18px;
    }

    .menu_mobile div {
        width: 40px;
    }

    .section_initial .section_text h1, p {
        text-align: center;
        color: rgb(245, 245, 245);
    }
    
    .section_initial .section_text h1 {
        font-size: 40px;
    }
    
    .section_initial p {
        font-size: 18px;
    }

}

@media only screen and (max-width: 400px) {

    .section_initial .section_text h1, p {
        text-align: center;
        color: rgb(245, 245, 245);
    }
    
    .section_initial .section_text h1 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    
    .section_initial p {
        font-size: 14px;
    }  

 }